<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zongzi.questionnaire.mapper.QuestionRecordMapper">

    <delete id="deleteByQtId">
        delete from EX_QT_RECORD where QT_ID in (
        <foreach collection="qtIds" item="item" separator=",">
            #{item}
        </foreach>
        )
    </delete>
    <delete id="deleteByQnRcId">
        delete from EX_QT_RECORD where QN_RC_ID in (
        <foreach collection="qnRcIds" item="item" separator=",">
            #{item}
        </foreach>
        )
    </delete>
</mapper>